{% extends 'JacHomeBundle:Default:main.html.twig' %}

{% block title %}Juntas de Alta Calidad | Inicio{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jachome/css/home.css') }}" />
{% endblock %}

{% block content %}
    <section class="main-content">
        <h2>{{ 'home.content.heading'|trans }}</h2>
        <p id="history-content">{{ 'home.content.history'|trans }}</p>
        <p id="more-products">
            <img alt="" src="{{ asset('bundles/jachome/images/more_products.jpg') }}" />
            <a href="{{ path('jac_products_homepage') }}">{{ 'home.more_products.link'|trans }}</a>, {{ 'home.more_products.content'|trans }}
        </p>
    </section>
{% endblock %}