{% extends 'JacHomeBundle:Default:main.html.twig' %}

{% block title %}Juntas de Alta Calidad | Productos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jacproducts/css/products.css') }}">
{% endblock %}

{% block content %}
    <section class="main-content">
        <div id="brands">
            <p id="brands-legend">
                Tenemos una gran diversidad de juntas en nuestras l&#xed;neas de productos dentro de las cuales encontrar&#xe1;:
            </p>
            <ul id="brands-nav">
                <li id="brand-cummins">
                    <a href="{{ path('jac_products_catalog') }}">
                        <img alt="Cummins" src="{{ asset('bundles/jacproducts/images/brand_cummins.png') }}" />
                    </a>
                </li>
                <li id="brand-spicer">
                    <a href="{{ path('jac_products_catalog') }}">
                        <img alt="Spicer" src="{{ asset('bundles/jacproducts/images/brand_spicer.png') }}" />
                    </a>
                </li>
                <li id="brand-holset">
                    <a href="{{ path('jac_products_catalog') }}">
                        <img alt="Holset" src="{{ asset('bundles/jacproducts/images/brand_holset.png') }}" />
                    </a>
                </li>
                <li id="brand-mercedez">
                    <a href="{{ path('jac_products_catalog') }}">
                        <img alt="Mercedez-Benz" src="{{ asset('bundles/jacproducts/images/brand_mercedez.png') }}" />
                    </a>
                </li>
                <li id="brand-knorr-bremse">
                    <a href="{{ path('jac_products_catalog') }}">
                        <img alt="Knorr-Bremse" src="{{ asset('bundles/jacproducts/images/brand_knorr_bremse.png') }}" />
                    </a>
                </li>
                <li id="brand-perkins">
                    <a href="{{ path('jac_products_catalog') }}">
                        <img alt="Perkins" src="{{ asset('bundles/jacproducts/images/brand_perkins.png') }}" />
                    </a>
                </li>
                <li id="brand-bendix">
                    <a href="{{ path('jac_products_catalog') }}">
                        <img alt="Bendix" src="{{ asset('bundles/jacproducts/images/brand_bendix.png') }}" />
                    </a>
                </li>
                <li id="brand-wabco">
                    <a href="{{ path('jac_products_catalog') }}">
                        <img alt="Wabco" src="{{ asset('bundles/jacproducts/images/brand_wabco.png') }}" />
                    </a>
                </li>
                <li id="brand-navistar">
                    <a href="{{ path('jac_products_catalog') }}">
                        <img alt="Navistar" src="{{ asset('bundles/jacproducts/images/brand_navistar.png') }}" />
                    </a>
                </li>
                <li id="brand-dina">
                    <a href="{{ path('jac_products_catalog') }}">
                        <img alt="Dina" src="{{ asset('bundles/jacproducts/images/brand_dina.png') }}" />
                    </a>
                </li>
                <li id="brand-fuller">
                    <a href="{{ path('jac_products_catalog') }}">
                        <img alt="Fuller" src="{{ asset('bundles/jacproducts/images/brand_fuller.png') }}" />
                    </a>
                </li>
            </ul>
        </div>
        <p id="catalog-download">
            <a href="{{ asset('bundles/jacproducts/docs/jac_catalogo_completo_2010.pdf') }}">
                Descarga el catálogo completo haciendo click aquí
            </a>
        </p>
    </section>
{% endblock %}