{% extends 'JacHomeBundle:Default:main.html.twig' %}

{% block title %}Juntas de Alta Calidad | Acerca de Nosotros{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jacaboutus/css/about_us.css') }}" />
{% endblock %}

{% block content %}
    <section class="main-content">
        <section class="content">
            <h2>{{ 'about_us.about_us'|trans }}</h2>
            <section>
                <h3 id="history">{{ 'about_us.history'|trans }}</h3>
                {{ 'about_us.history.content'|trans|raw }} 
            </section>
            <section>
                <h3 id="mission">{{ 'about_us.mission'|trans }}</h3>
                <p>
                  {{ 'about_us.mission.content'|trans }} 
                </p>
            </section>
            <section>
                <h3 id="vision">{{ 'about_us.vision'|trans }}</h3>
                <p>
                  {{ 'about_us.vision.content'|trans }} 
                </p>
            </section>
            <section>
                <h3 id="profile">{{ 'about_us.profile'|trans }}</h3>
                <p>
                  {{ 'about_us.profile.content'|trans }} 
                </p>
            </section>
            <section>
                <h3 id="focus">{{ 'about_us.focus'|trans }}</h3>
                <p>
                  {{ 'about_us.focus.content'|trans }} 
                </p>
            </section>
            <section>
                <h3 id="competitive-advantage">{{ 'about_us.competitive_advantage'|trans }}</h3>
                <p>
                  {{ 'about_us.competitive_advantage.content'|trans }} 
                </p>
            </section>
            <section>
                <h3 id="benefits">{{ 'about_us.benefits'|trans }}</h3>
                <p>
                  {{ 'about_us.benefits.content'|trans }} 
                </p>
            </section>
        </section>
        <nav class="contents-nav">
            <h3>{{ 'about_us.about_us'|trans }}</h3>
            <ul>
                <li><a href="#history">{{ 'about_us.history'|trans }}</a></li>
                <li><a href="#mission">{{ 'about_us.mission'|trans }}</a></li>
                <li><a href="#vision">{{ 'about_us.vision'|trans }}</a></li>
                <li><a href="#profile">{{ 'about_us.profile'|trans }}</a></li>
                <li><a href="#focus">{{ 'about_us.focus'|trans }}</a></li>
                <li><a href="#competitive-advantage">{{ 'about_us.competitive_advantage'|trans }}</a></li>
                <li><a href="#benefits">{{ 'about_us.benefits'|trans }}</a></li>
            </ul>
        </nav>
    </section>
{% endblock %}
