{% extends 'JacHomeBundle:Default:main.html.twig' %}

{% block title %}Juntas de Alta Calidad | Contacto{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jaccontact/css/contact.css') }}" />
    <script src="{{ asset('bundles/jaccontact/js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('bundles/jaccontact/js/contact.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="main-content">
        <div id="content">
            <form id="contact-form" method="post" action=".">
                <fieldset>
                    <legend>
                        <h2>Formulario de Contacto</h2>
                    </legend>
                    <p id="contact-form-company-name" class="form-field">
                        {{ form_label(form.companyName) }}
                        {{ form_widget(form.companyName) }}
                        {{ form_errors(form.companyName) }}
                    </p>
                    <div id="contact-form-full-name" class="field">
                        <p class="form-field">
                            {{ form_label(form.fullName) }}
                            {{ form_widget(form.fullName) }}
                            {{ form_errors(form.fullName) }}
                        </p>
                        <p class="error">Por favor, introduzca su nombre.</p>
                    </div>
                    <p id="contact-form-position" class="form-field">
                        {{ form_label(form.position) }}
                        {{ form_widget(form.position) }}
                        {{ form_errors(form.position) }}
                    </p>
                    <div id="contact-form-address" class="field">
                        <p class="form-field">
                            {{ form_label(form.address) }}
                            {{ form_widget(form.address) }}
                            {{ form_errors(form.address) }}
                        </p>
                        <p class="error">Por favor, introduzca su dirección.</p>
                    </div>
                    <div id="contact-form-phone-number" class="field">
                        <p class="form-field">
                            {{ form_label(form.phoneNumber) }}
                            {{ form_widget(form.phoneNumber) }}
                            {{ form_errors(form.phoneNumber) }}
                        </p>
                        <p class="error">Por favor, introduzca su número de teléfono</p>
                    </div>
                    <p id="contact-form-fax-number" class="form-field">
                        {{ form_label(form.faxNumber) }}
                        {{ form_widget(form.faxNumber) }}
                        {{ form_errors(form.faxNumber) }}
                    </p>
                    <div id="contact-form-email-address" class="field">
                        <p class="form-field">
                            {{ form_label(form.emailAddress) }}
                            {{ form_widget(form.emailAddress) }}
                            {{ form_errors(form.emailAddress) }}
                        </p>
                        <p class="error">Por favor, introduzca su dirección de correo eletrónico</p>
                    </div>
                    <p id="contact-form-where" class="form-field">
                        {{ form_label(form.whereDidYouLearnAboutUs) }}
                        {{ form_widget(form.whereDidYouLearnAboutUs) }}
                        {{ form_errors(form.whereDidYouLearnAboutUs) }}
                    </p>
                    <p id="contact-form-comments" class="form-field">
                        {{ form_label(form.comments) }}
                        {{ form_widget(form.comments) }}
                        {{ form_errors(form.comments) }}
                    </p>
                    <p id="contact-form-submit" class="form-field">
                        <button type="submit" class="contact-button">
                            <span>Enviar</span>
                        </button>
                    </p>
                </fieldset>
            </form>
            <section id="contact-info">
                <h2>Datos de la Empresa</h2>
                <ul>
                    <li id="phone-number">
                        +52 55 5686 2612 / +52 55 5686 9041
                    </li>
                    <li id="fax-number">
                        +52 55 5686 2612
                    </li>
                    <li id="email-address">
                        contacto@juntasdealtacalidad.com.mx
                    </li>
                    <li id="twitter">
                        @juntasdecalidad
                    </li>
                </ul>
            </section>
        </div>
    </section>
{% endblock %}